<section id = "add">
	<form action="/" method="post">
		<textarea name="post_content" id="text_area" cols="30" rows="10" placeholder="Write your note here!"></textarea>
		<input type="submit" value="Take Note!">
	</form>
</section>
