<!doctype html>
<html lang="en">

<head>
  <meta charset="utf8">
  <title><%= @title + ' | Notes' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>

<body>

  <header>
    <hgroup>
      <h1><a href="/">Notes!</a></h1>
      <h2>'cause you're too busy to remember</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app built by Sebastián Delgado 2015</p>
  </footer>

</body>
</html>